*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container>button{
    margin: 4px 50%;
    padding: 5px;
    width: 100px;
}
.draw-grid{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}
.grid-box{
    border: 1px solid black;
    opacity: .5;
}


